.login-form {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.login_header {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.login_header img {
    width: 300px;
}

.login_header h1 {
    color: #333;
    font-size: 2rem;
    margin-top: 15px;
}

.login_input {
    border: 2px solid #333;
    border-radius: 10px;
    color: #333;
    font-size: 1rem;
    margin-bottom: 15px;
    max-width: 300px;
    width: 100%;
    outline: none;
    padding: 15px;
}

.login_button {
    background-color: #715e50;
    border-radius: 10px;
    color: #fff;
    padding: 15px;
    cursor: pointer;
    font-size: 1rem;
    max-width: 300px;
    width: 100%;
    transition: all .3s ease;
}

.login_button:hover {
    background-color: #8f796a;
}

.login_button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}